<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audi R8 </title>
</head>
<style>
    a {
        text-decoration: none;
    }
    
    .flex-container {
    display: flex;
    background-color: rgba(30, 143, 255, 0.733);
    height: 500px;
    }

    .flex-container > div {
    background-color: #c3dfc9;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .flex-container > img{
    margin: 5px;
    padding: 5px;
    width: 700px;
    }
    body{
        background-color: rgb(146, 189, 189);
    }
    h2{
        text-align: right;
    }
    h1{
        font-size: 50px;
        border: 8px solid rgba(30, 143, 255, 0.733);
        padding-left: 70px;
    }
    #roundcorner{
        overflow:scroll;
    }
    ol{
        border: 2px solid;
        list-style-type: none;
        text-align: center;
        padding: 50px;
        background-color: #c3dfc9;
    }
    #Home{
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
        background-color:rgb(163, 112, 129)
        
    }
    #Home:hover{
        background-color:rgb(161, 161, 236);
        color: azure;
    }
    #Back{
        font-size: 20px;
        float: right;
        border: 2px solid rgb(196, 95, 111);
        margin-right: 50px;
        padding: 8px;
        margin-top: 5px;
        text-decoration: underline;
    }
    #Back:hover{
        background-color:rgb(163, 112, 129);
        color: ghostwhite;
    }
</style>
<body>
    <h1>Audi R8</h1>
    <h2>HATS OFF! TO YOUR CHOICE</h2>
    <div class="flex-container">
        <img src="https://imgd.aeplcdn.com/0x0/n/cw/ec/34470/q8-interior-dashboard.jpeg" alt="" srcset="">
        <div id='roundcorner'>INTERIORS:<br><br>
            
            Perhaps the best supercar cabin of all. It’s spacious (check out the broad shelf behind the seats, the headroom and sense of space engendered by the far-off windscreen) and yet intimate. It draws you in, focuses your attention on the steering and fully digital dash to start with, and then teases your view outwards to such beautifully wrought details as the heating controls.

            It’s the material execution and quality that really hits home, even above and beyond a Porsche 911. The tactility is masterfully done, the organisation of the controls is superb, the operation of the controls is just so. It’s a car you can spend a long time in, simply pressing buttons and moving switches. Driving position? You, like me, may want a bit of extra reach on the steering wheel, and we’d suggest avoiding the sportiest seats, which are too upright and thinly padded for comfort.
            
            It’s not as easy to see out of as a McLaren Sports Series or 911, and it feels wide, but this is a design-led cabin that works on pretty much every level. Just be warned there’s not much load space under the nose - the 112-litre area limited by the presence of those front driveshafts. Make up for it by exploiting that 226-litre shelf.
            
            Changes for the facelifted version are very modest: new silver and brown colour schemes inside, and the reversing camera now standard. Audi’s virtual display is still the benchmark digital dash for legibility and organisation of information.
            
                 
           
      </div> 
    </div>
    <div class="flex-container">
        <div id='roundcorner'>ENGINE SPECS:<br> <br>
            cent over the old car, while the familiar, naturally aspirated 5.2-litre V10 has been tweaked to deliver an astonishing 611bhp in the R8 Performance – that's 49bhp more than a McLaren 570S. This powerplant is paired with a seven-speed twin-clutch S tronic gearbox that drives all four wheels via a new quattro transmission.

            Press the red starter button on the steering wheel, and the V10 barks into life with enough noisy violence to set off car alarms and startle passers-by - if it’s attention you’re after, then this engine delivers it in spades. The entry rear-wheel-drive model's 540Nm torque figure means it can’t match its rivals for mid-range muscle, but it’s got them well beaten for aural drama.
            
            From its deep growl at low revs through to the thrilling metallic howl as you close in on the 8,500rpm red line, it sounds every bit as exciting as you’d expect from a supercar. Go for the optional Sports exhaust, and there's even more volume added to the glorious mechanical orchestra.   
            </div> 
        <img src="https://cdn.static-carhp.com/images/content/89c79d809d68b71c49ceaac9f944532a.jpeg" alt="" srcset="">
    </div>
    <div class="flex-container">
        <img src="https://www.motortrend.com/uploads/sites/11/2020/08/2021-Audi-ABT-RSQ8-R-2.jpg" alt="" srcset="">
        <div id='roundcorner'>EXTERIORS:<br><BR></BR>
            Horizontal lines make the front of the high-performance sports car appear extremely wide. The Singleframe radiator grille with its honeycomb structure insert is even broader and flatter, and the chrome frame was omitted. The large air inlets, which are divided into two sections by the vertical winglets, are located above the widened front splitter. Flat slits in the hood are reminiscent of the Audi Sport quattro brand icon. LED headlights with 37 light-emitting diodes each are the standard and partially dimmed. The Audi laser light is available as an option; it doubles the range of the high beam lights and a blue LED makes it visible from the outside. The laser light is combined with the front dynamic turn signals.

            The side view of the new Audi R8 appears taut and concentrated, and sharp lines delineate athletically curved surfaces. The contours above the wheels reference the quattro drive system. The shoulder line connects the wheels with one another; on the Coupé, it divides the sideblade into two visual elements – an upper and a lower half. If the customer so desires, the blades can bear a logo of their choice. The top layer of the material is roughened slightly, which gives it a special matte effect. The side trims form a visual continuation of the front splitter and make the R8 appear even more flat and sporty. The air filter is situated in the engine compartment under a new three-part cover, which is available in a choice of plastic or carbon fiber.
            
            The soft top of the Audi R8 Spyder is integrated perfectly into the design line; it flows into two fins that tension the material. Weighing just 44 kilograms (97 lb), it contributes to the vehicle’s low center of gravity. An electro-hydraulic drive opens and closes the soft top in 20 seconds at speeds up to 50 km/h (31.1 mph). When it opens, it folds into a Z-shape on a flat shelf with a covering flap made of CFRP, which is located above the engine. The rear window is sunk into the CFRP bulkhead separately from the soft top and can be retracted and extended electrically. Two strong steel sections pretensioned by steel springs serve as roll-over protection.
            
            Horizontal lines also dominate the rear end of the new Audi R8. The honeycomb-structured air inlet grille of the engine compartment now extends across the entire width. The diffuser with its striking ribs is drawn up higher. It frames the new elliptical tailpipes of the exhaust system. These come in different designs – chrome-plated on the R8 V10 quattro as standard or in gloss black on the R8 V10 performance quattro.
            
            Each rear light integrates 118 LEDs that create homogeneous light together. The dynamic rear turn signal lights are a standard feature. The rear spoiler of the R8 Coupé V10 quattro extends electrically at a speed of 120 km/h (74.6 mph). The R8 Coupé V10 performance quattro has a large fixed blade made of carbon fiber-reinforced polymer (CFRP). The R8 Spyder V10 performance quattro has a fixed rear spoiler also made of carbon fiber-reinforced polymer (CFRP).  
            </div> 
    </div>
    <div class="flex-container">
        <div id='roundcorner'>WHEELS AND SUSPENSION SYSTEM :<br> <BR></BR>
            
            Audi is famed for the quality and reliability of its components, and as the second-generation R8 is a development of the original, it should be a good performer. With its hand-crafted production process and hefty price, we expect the R8 will deliver a blemish-free ownership experience.

The engine, for example, is a development of the old 5.2-litre V10, and is also used in the Lamborghini Huracan. It’s a similar story with the twin-clutch S tronic gearbox, which feels bulletproof even after several full-bore applications of the launch control back to back.

However, Audi finished a disappointing 21st out of 30 manufacturers in the 2020 Driver Power customer satisfaction survey, which is actually a drop from the middling 16th position it achieved in 2019.

In terms of safety, the R8 hasn't been Euro NCAP tested – and is unlikely ever to be – but its aluminium and carbon-fibre hybrid platform is stronger than ever, meaning it’s 50kg lighter and 40 per cent stiffer than the first generation. There are four airbags, multi-stage stability control and carbon-ceramic brakes (an option on the R8, standard on the R8 Performance), but there’s no option to add hi-tech features such as autonomous emergency braking or blind-spot monitoring.
            
             </div> 
            
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/2018_Audi_Q8.jpg" alt="" srcset="">
    </div>
    <ol>
        <li>ACTIVE FRONTEND CONTRIBUTORS : </li>
        <li>HITANSHU ANIL PATIL</li>
        <li>SACHIN MINDE</li>
        <li>ACTIVE BACKEND CONTRIBUTORS : </li>
        <li>SARANG KULKARNI</li>
    </ol>
    <a onclick="javascript:history.go(-2)" style="cursor: pointer;"><div id = 'Home'>
        Home
    </div></a>
    <a onclick="javascript:history.go(-1)" style="cursor: pointer;"><div id = 'Back'>
        Back
    </div></a>
</body>
</html>